@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

:root{
    --padding-container: 100px 0;
    --color-title: #001a49
}    
body{
    color: rgb(24, 99, 165);
    font-family: 'Poppins', sans-serif;
    min-width: 700px;
    
}    
.hero{
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(360deg, rgba(0, 0, 0, 0.575), rgba(0, 0, 0, 0.548)), url(./imagenes/pc.jpg);
    min-height: 600px;
    max-height: 1000px;
    position:relative;
    display: grid;
    grid-template-rows: 100px 1ft;
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 50% 95%, 0 80%);
    /* display: none; */
}    
.nav{
    --padding-container: 0;
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}    
.nav__link--menu  {
    display: flex;
    list-style: none;
    justify-content:end;
}    
.nav__links{
    list-style: none;
    color: aliceblue;
    text-decoration: none;
    position: relative;
    padding: 0px 10px;
    top: 45px;
    justify-content: end;
}    
.nav__title{
    padding-top: 40px;
    position: absolute;
    font-size: 35px;
}    
.nav_close{
    display: none;
}    
.nav__img{
    display: none;
}    

.hero__container{
    text-align: center;
    width: 700px;
}
.hero__title{
    font-size: 50px;
}
.hero__paragrap{
    margin: 20px;
    margin-bottom: 60px;
}
.cta{
    background-color: rgb(8, 112, 231);
    text-decoration: none;
    margin: 50px;
    padding:13px 23px;
    border-radius: 32px;
    cursor:crosshair;
    color: white;
}
.content{
    text-align: center;
    color: black;
  /* display: none; */
}
.content__title{
    font-size: 30px;
    color: rgb(7, 7, 134);
    margin: 25px;
}
.content__img--foot{
    width: 35px;
}
h4{
    margin: 20px;
}
.content__foot {
    display: flex;
    font-size: 15px;
    padding: 0;
}
.cont__div{
    margin: 40px;
    margin-bottom: 100PX;
}
.course{
    /* background-color: rgb(191, 218, 250); */
    padding: 40px;
    display: flex;
    width: 100%;
    background-color: #e5e5f7;
    background-image:  radial-gradient(#444cf7 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #e5e5f7 0.5px);
    background-size: 20px 20px;
    background-position: 0 0,10px 10px;
    /* display: none; */
}
.course__cont{
    margin: auto;

}
.course__title{
    color: rgb(7, 7, 134);;
}
.course__parragrap{
    color: black;
    margin: 10px;
}
.course__buttom{
    color: white;
    background-color: blue;
    padding: 10px;
    position: absolute;
    border-radius: 30px;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
    width: 160px;
}
.course__img{
    width: 1300px;
    margin: 20px;
}
.pay{
    color: black;
}
.pay__title{
    text-align: center;
}
.pay__box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(351px, auto));
gap: 20px;

}
.box{
    margin: auto;
    text-align: center;
    width: 300PX;
    height: 370px;
    margin: 20px auto;
    border-radius: 10px;
    
}
.pay__free{
    background-color: rgb(184, 184, 184);
}
.pay__30{
    background-color: orange;
}
.pay__40{
    background-color: rgb(164, 166, 167);

}
.pay__mayu{
    font-size: 30px;
}
.box p{
    margin: 15px;
    
}
.pay__links{
    background-color: rgb(225, 225, 230);
    padding: 10px;
    text-decoration: none;
    margin-top: 5px;
    color: rgb(6, 18, 177);
    display: inline-block;
    border-radius: 10px;
}
.orange{
    background-color: orangered;
}

/* Testimony */

.testimony{
    background-color: #e5e5f7;
    color: black;

}
.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}

.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}
.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;

}

.testimony__text{
    max-width: 700px;

}
.testimony__course{
    background-color: #444cf7;
    color: #e5e5f7;
    display: inline-block;
    padding: 5px;
}

.testimony__arrow{
    width: 90%;
    cursor: pointer;
}

/* PREGUNTAS FRECUNTES */

.question{
    color:#030649;
    text-align: center;
}

.question__slider{
    text-align: left;
    border-radius: 20px;

}
.question__slider--all{
    padding: 20px;
    border: solid black 1px;
    margin: 30px;
    position: relative;

}

.question__img{
    position: absolute;
    right: 10px;
}
.question__parragraf{
    margin: 20px;
    font-size: 13px;
    color: black;
}